<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support and Resistance Tutorial</title>
    <link rel="stylesheet" href="styles1.css"> <!-- Link to your CSS file -->
    <!-- AOS Library -->
    <head>
        <!-- AOS Library CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    
        <!-- Your CSS file -->
    
        <!-- AOS Library JS -->
        <link href="/static/assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles4.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    </head>
    
<body>
    
    <header data-aos="fade-down">
        <div class="header-logo">
            <a href="/home"> <img src="/static/assets/img/logo.png" alt="Logo"></a>
        </div>
        <div class="container">

            <h1 class="styled-heading">Head and Shoulders Pattern</h1>
            
        </div>
    </header>
    <main>


<!-- Head and Shoulders Pattern -->
<section id="headshoulder" data-aos="zoom-out">
    <div class="pattern-container">
        <h3>Head and Shoulders</h3>
           
        <img src="static/assets/img/HeadandShoulder.png" alt="Trading Strategies" class="image-hover" style="width: 50%; height: auto; margin-bottom: 15px; border: 2px solid #ddd; border-radius: 5px; display: block; margin-left: auto; margin-right: auto;">
        <p><strong>Head and Shoulders Pattern:</strong>The Head and Shoulders pattern is a classical chart formation used in technical analysis to predict trend reversals. Appearing after an uptrend, this pattern consists of three peaks: a higher peak (head) flanked by two lower peaks (shoulders). The pattern is completed when the price breaks below the neckline, which is drawn horizontally through the lows of the two troughs between the shoulders.</p>
        <p><strong>Impact on Price:</strong>
            <ul>
                <li>Upon completion of the Head and Shoulders pattern, the market typically undergoes a significant bearish reversal. The breach of the neckline serves as a confirmation of this reversal, signaling that the bullish trend has exhausted itself and a downtrend is imminent.</li>
                <li>Traders interpret this pattern as an indication to sell or short the asset, anticipating a decline in price. This pattern's effectiveness lies in its ability to highlight a shift in market sentiment from bullish to bearish, often resulting in a notable price drop.</li>
            </ul>
        </p>
    </div>
</section>


<!-- Head and Shoulders Pattern -->
<section id="headshoulder" data-aos="zoom-out">
    <div class="pattern-container">
        <h3>Inverse Head and Shoulders </h3>

        <img src="static/assets/img/HeadandShoulder.png" alt="Trading Strategies" class="image-hover" style="width: 50%; height: auto; margin-bottom: 15px; border: 2px solid #ddd; border-radius: 5px; display: block; margin-left: auto; margin-right: auto;">
        <p><strong>Inverse Head and Shoulders Pattern:</strong>The Inverse Head and Shoulders pattern is a reversal chart formation that appears after a downtrend, suggesting a bullish turnaround. This pattern mirrors the Head and Shoulders pattern but in reverse. It features three troughs: the central trough (head) is the deepest, flanked by two shallower troughs (shoulders). The pattern is confirmed when the price rises above the neckline, a horizontal line drawn through the peaks between the shoulders.

        </p>
        <p><strong>Impact on Price:</strong>
            <ul>
                <li>Following the completion of the Inverse Head and Shoulders pattern, the market is likely to experience a bullish reversal. The breakout above the neckline indicates a shift from bearish to bullish sentiment, signaling that the previous downtrend is ending and an uptrend is beginning.</li>
                <li>Traders view this pattern as a signal to buy or go long on the asset, anticipating a rise in price. The Inverse Head and Shoulders pattern is valued for its ability to highlight potential opportunities for profit as the market transitions from a downtrend to an uptrend.

                </li>
            </ul>
        </p>
    </div>
</section>


</main>

<footer>
    <div class="container" data-aos="fade-down">
        <p>&copy; 2024 Copyright SpurzeeTechnologies. All rights reserved.</p>
    </div>
</footer>




<script>
    // Initialize AOS
    AOS.init({
        duration: 500, // Animation duration in milliseconds
        offset: 50,    // Offset (in px) from the original trigger point
        easing: 'ease-in-out', // Animation easing
        once: true      // Whether animation should happen only once
    });
</script>





</body>
</html>