<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support and Resistance Tutorial</title>
    <link rel="stylesheet" href="styles1.css"> <!-- Link to your CSS file -->
    <!-- AOS Library -->
    <head>
        <!-- AOS Library CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    
        <!-- Your CSS file -->
    
        <!-- AOS Library JS -->
        <link href="/static/assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles4.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    </head>
    
<body>
    
    <header data-aos="fade-down">
        <div class="header-logo">
            <a href="/home"> <img src="/static/assets/img/logo.png" alt="Logo"></a>
        </div>
        <div class="container">

            <h1 class="styled-heading">Rectangle Pattern</h1>
            
        </div>
    </header>
    <main>

            <!-- Rectangle Patterns -->
            <section id="rectangles" data-aos="fade-left">
                <div class="pattern-container">
                    <img src="static/assets/img/box.png" alt="Trading Strategies" class="image-hover" style="width: 50%; height: auto; margin-bottom: 15px; border: 2px solid #ddd; border-radius: 5px; display: block; margin-left: auto; margin-right: auto;">

                    <h3>Rectangle Patterns</h3>
                    <p><strong>Description:</strong> A rectangle pattern is a continuation or reversal chart pattern that forms when the price moves sideways between two horizontal levels of support and resistance. It represents a period of consolidation where buyers and sellers are in equilibrium, leading to a range-bound price movement. The upper boundary of the rectangle acts as resistance, while the lower boundary serves as support. This pattern can occur in both uptrends and downtrends and lasts for an extended period, with the price bouncing between the support and resistance levels.</p>
                    <p><strong>Impact on Price:</strong> </p>
                    <ul>
                        <li>Once the price breaks out of the rectangle pattern—either above the resistance or below the support—it typically results in a strong price movement in the direction of the breakout. In a bullish rectangle, a breakout above the resistance level usually leads to a continuation of the uptrend, with the expected price movement being approximately equal to the height of the rectangle.</li>
                        <li>In a bearish rectangle, a breakout below the support level signals a continuation of the downtrend, with a similar price movement equal to the height of the rectangle. Traders often use these breakouts as signals to enter positions in the direction of the trend.</li>
                    </ul>

                </div>
            </section>


</main>

<footer>
    <div class="container" data-aos="fade-down">
        <p>&copy; 2024 Copyright SpurzeeTechnologies. All rights reserved.</p>
    </div>
</footer>




<script>
    // Initialize AOS
    AOS.init({
        duration: 500, // Animation duration in milliseconds
        offset: 50,    // Offset (in px) from the original trigger point
        easing: 'ease-in-out', // Animation easing
        once: true      // Whether animation should happen only once
    });
</script>





</body>
</html>