<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support and Resistance Tutorial</title>
    <link rel="stylesheet" href="styles1.css"> <!-- Link to your CSS file -->
    <!-- AOS Library -->
    <head>
        <!-- AOS Library CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    
        <!-- Your CSS file -->
    
        <!-- AOS Library JS -->
        <link href="/static/assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles4.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    </head>
    
<body>
    
    <header data-aos="fade-down">
        <div class="header-logo">
            <a href="/home"> <img src="/static/assets/img/logo.png" alt="Logo"></a>
        </div>
        <div class="container">

            <h1 class="styled-heading">Triangle Pattern</h1>
            
        </div>
    </header>
    <main>


            <!-- Triangles -->
            <section id="triangle" data-aos="fade-down">
                <div class="pattern-container">
                    <h3>Ascending Triangle</h3>
                    <img src="static/assets/img/triangle.png" alt="Trading Strategies" class="image-hover" style="width: 50%; height: auto; margin-bottom: 15px; border: 2px solid #ddd; border-radius: 5px; display: block; margin-left: auto; margin-right: auto;">

                    <p><strong> Description:</strong> Characterized by a horizontal upper trendline and an upward-sloping lower trendline. It indicates a potential continuation of the current trend, usually bullish.</p>
                    <p><strong> Impact on Price:</strong> A breakout above the horizontal resistance line often signals a continuation of the uptrend, leading to higher prices. Traders may enter long positions on the breakout with a stop-loss below the upward-sloping trendline.</p>

                </div>
            </section>

            <!-- Triangles -->
            <section id="triangle" data-aos="fade-down">
                <div class="pattern-container">
                    <h3>descending Triangle</h3>
                    <img src="static/assets/img/triangle.png" alt="Trading Strategies" class="image-hover" style="width: 50%; height: auto; margin-bottom: 15px; border: 2px solid #ddd; border-radius: 5px; display: block; margin-left: auto; margin-right: auto;">

                    <p><strong> Description:</strong> Features a horizontal lower trendline and a downward-sloping upper trendline. It typically signals a bearish continuation of the current trend.</p>
                    <p><strong> Impact on Price:</strong> A breakout below the horizontal support line indicates a continuation of the downtrend, leading to lower prices. Traders may enter short positions on the breakout with a stop-loss above the downward-sloping trendline. </p>

                </div>
            </section>

            <!-- Triangles -->
            <section id="triangle" data-aos="fade-down">
                <div class="pattern-container">
                    <h3>Symmetrical Triangle</h3>
                    <img src="static/assets/img/triangle.png" alt="Trading Strategies" class="image-hover" style="width: 50%; height: auto; margin-bottom: 15px; border: 2px solid #ddd; border-radius: 5px; display: block; margin-left: auto; margin-right: auto;">

                    <p><strong> Description:</strong> Description: Formed by converging trendlines, one upward-sloping and one downward-sloping. This pattern suggests a period of consolidation before a breakout in either direction.</p>
                    <p><strong>Impact on Price</strong>A breakout in the direction of the prior trend (up or down) signifies a continuation of that trend. Traders may enter positions based on the breakout direction, with stop-loss orders set below (for bullish breakouts) or above (for bearish breakouts) the pattern.></strong></p>
                </div>
            </section>





</main>

<footer>
    <div class="container" data-aos="fade-down">
        <p>&copy; 2024 Copyright SpurzeeTechnologies. All rights reserved.</p>
    </div>
</footer>




<script>
    // Initialize AOS
    AOS.init({
        duration: 500, // Animation duration in milliseconds
        offset: 50,    // Offset (in px) from the original trigger point
        easing: 'ease-in-out', // Animation easing
        once: true      // Whether animation should happen only once
    });
</script>





</body>
</html>